.hero {
    position: relative;
    background-color: #ECFFEB;
    @include adaptiveValue("margin-bottom", 365, 365);

    &__container {
        position: relative;
        @include adaptiveValue("padding-top", 71, 70);
        @include adaptiveValue("padding-bottom", 138, 130);
    }

    &__column {
        position: relative;
        z-index: 1;
    }

    &__heading {
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
    }

    &__title {
        font-weight: 700;
        font-size: 65px;
        line-height: 65px;
        color: $g;
        margin-left: -5px;
        margin-bottom: 20px;
        max-width: 500px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        max-width: 420px;
        @include adaptiveValue("margin-bottom", 57, 55);
    }

    &__links {
        display: flex;
        grid-auto-flow: column;
        grid-gap: 20px;
    }

    &__link {
        max-width: fit-content;
        white-space: nowrap;
        font-weight: 600;
        font-size: 18px;
        line-height: 26px;
        min-width: 285px;
        height: 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $g;

        &:last-child {
            padding: 17px 53px;
        }

        color: $g;
        border: 1px solid $g;

        // &:hover {
        //     background-color: $g;
        //     color: #fff;
        // }
    }

    &__img {
        position: absolute;
        right: -10px;
        bottom: 0;

    }

    .stats__content {

        position: absolute;
        bottom: -32%;
        left: 50%;
        transform: translate(-50%, 0px);
        width: 100%;
        max-width: 1200px;
        z-index: 1;

    }

    .stats__column {
        width: 196px;
    }
}
