.training {
    @include adaptiveValue("margin-bottom", 175, 170);

    &__container {}

    &__title {
        margin-bottom: 88px;
    }

    &__content {
        display: grid;
        grid-template-columns: repeat(12, auto);
        grid-template-rows: repeat(2, auto);
        @include adaptiveValue("gap", 55, 50);
    }

    &__item {
        max-height: 260px;
        transition: all 0.3s ease 0s;

        &:hover {
            .training__info {
                opacity: 1;
            }
        }

        &:nth-child(1) {
            grid-row: 1/1;
            grid-column: span 6/7;

            .training__text {
                top: 193px;
                left: 22px;
            }

            &:hover {
                .training__text {
                    top: 0;
                    left: 28px;
                    white-space: pre-line;
                    background: url('@img/training/arrow.svg') right 95% no-repeat;
                    padding-right: 130px;
                }
            }
        }

        &:nth-child(2) {
            grid-row: 1/1;
            grid-column: span 6/13;

            .training__text {
                top: 193px;
                left: 22px;

            }

            &:hover {
                .training__text {
                    top: 35px;
                    left: 28px;
                    background: url('@img/training/arrow.svg') right 70% no-repeat;
                    padding-right: 130px;
                }
            }
        }

        &:nth-child(3) {
            grid-row: 2/2;
            grid-column: span 4/5;


        }

        &:nth-child(4) {
            grid-row: 2/2;
            grid-column: span 4/9;

            .training__text {
                top: 22px !important;
                left: 25px;
            }

            &:hover {
                .training__text {
                    top: 66px !important;
                    left: 25px;
                }

                .training__info {
                    top: 130px !important;
                    left: 25px !important;
                }
            }
        }

        &:nth-child(5) {
            grid-row: 2/2;
            grid-column: span 4/13;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5) {
            .training__text {
                top: 197px;
                left: 25px;
            }


            &:hover {
                .training__link {
                    &::before {
                        content: '';
                        opacity: 1;
                        z-index: 1;
                        position: absolute;
                    }
                }

                .training__text {
                    top: 35px;
                    left: 25px;
                }

                .training__info {
                    top: 110px;
                    left: 10px;

                    &::after {
                        content: '';
                        opacity: 1;
                        right: 0;
                        bottom: 30px;
                    }
                }
            }
        }
    }

    &__link {
        display: block;
        transition: all 0.3s ease 0s;
        font-weight: 600;
        font-size: 32px;
        line-height: 38px;
        text-transform: uppercase;
        color: #fff;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(35, 35, 35, 0.8);
            opacity: 0.6;
        }

        &::before {

            content: '';
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            background: url('@img/training/arrow.svg') 250px 227px no-repeat;
            transition: all 0.3s ease 0s;
        }

        &:hover {
            .training__info {}
        }

    }

    &__img {}

    &__text {
        transition: all 0.3s ease 0s;
        position: absolute;
        z-index: 1;
    }

    &__info {
        transition: all 0.3s ease 0s;
        position: absolute;
        bottom: 30px;
        left: 23px;
        font-weight: 500;
        font-size: 18px;
        color: #FFFFFF;
        white-space: pre-line;
        opacity: 0;
        z-index: 1;
        line-height: 24px;

    }
}
